version: '3.8'
services:

  postgres:
    image: git.docker-sandbox.place-start.ru/placestart/postgres:16
    environment:
      POSTGRES_USER: db_user
      POSTGRES_PASSWORD: db_password
      POSTGRES_DB: db_name
    networks:
      - internal
    ports:
      - 5432:5432
    volumes: 
      - postgres_db:/var/lib/postgresql/data
  spring:
      build:
        context: ./
        dockerfile: ./dockerfiles/dev/backend.Dockerfile
      environment:
        PG_USERNAME: db_user
        PG_PASSWORD: db_password
        PG_DATABASE: db_name
        PG_HOST: postgres
        HOST: localhost
        TZ: Europe/Moscow
      networks:
        - internal
      ports:
        - 8000:8080
      volumes:
        - ./backend:/app
      depends_on:
        - postgres

  nuxt:
    build:
      context: ./
      dockerfile: ./dockerfiles/dev/frontend.Dockerfile
    environment:
      HOST: 'http://spring:8000'
    user: ${UID:-1000}:node
    volumes:
      - ./frontend:/app
    networks:
      - internal
    ports:
      - 3000:3000
    depends_on:
      - spring

  nginx:
    image: git.docker-sandbox.place-start.ru/placestart/nginx:1.21.6-alpine
    networks:
      - internal
    ports:
      - 80:80
    volumes:
      - ./configs/nginx-default-dev.conf:/etc/nginx/conf.d/default.conf
      - ./backend/media:/app/media
      - ./backend/static:/app/static
    depends_on:
      - nuxt
      - spring

networks:
  internal:
    external: false

volumes:
  postgres_db:
