.submit-row{
    position: sticky;
    bottom: 10px;
}

.mutiupload {
    background-color: var(--admin-interface-header-link-hover-color);
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    border: 1px solid var(--admin-interface-generic-link-hover-color);
    color: var(--admin-interface-generic-link-hover-color);
    transition: all .3s ease;
}

.mutiupload:hover{
    opacity: .6;
}

.mutiupload input{
    display: none;
}