@use '~/assets/scss/runtime/functions' as *;

@mixin h0 {
    font-size: clampFluid(32, 54);
    line-height: 125%;
    color: currentColor;
}

@mixin h1 {
    font-size: clampFluid(21, 42);
    line-height: 120%;
    color: currentColor;
}

@mixin h2 {
    font-size: clampFluid(21, 32);
    line-height: 130%;
    color: currentColor;
}

@mixin h3 {
    font-size: clampFluid(18, 28);
    line-height: 130%;
    color: currentColor;
}

@mixin p1 {
    font-size: clampFluid(16, 24);
    line-height: 135%;
    color: currentColor;
}

@mixin p1-bold {
    font-weight: 500;
    line-height: 130%;
    @include p1;
}

@mixin p2 {
    font-size: clampFluid(14, 20);
    line-height: 130%;
    color: currentColor;
}

@mixin p2-bold {
    font-weight: 500;
    @include p2;
}

@mixin p3 {
    font-size: clampFluid(14, 18);
    line-height: 130%;
    color: currentColor;
}

@mixin p4 {
    font-size: clampFluid(14, 16);
    line-height: 130%;
}

@mixin p5 {
    font-size: clampFluid(10, 12);
}

$laptop: 1280;
$tablet: 1024;
$mobile: 768;

@mixin laptop {
    @media (max-width: #{$laptop}px) {
        @content;
    }
}

@mixin laptop-gt {
    @media (min-width: #{$laptop}px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}px) {
        @content;
    }
}

@mixin tablet-gt {
    @media (min-width: #{$tablet}px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}px) {
        @content;
    }
}

@mixin mobile-gt {
    @media (min-width: #{$mobile}px) {
        @content;
    }
}

@mixin hover {
    & {
        cursor: pointer;
        @media (hover: hover) {
            &:hover {
                @content;
            }
        }

        @media (hover: none), (hover: on-demand) {
            &:active {
                @content;
            }
        }
    }
}
