$main-clr: #f00;
$tr: 0.3s;
:root {
    --black: #2a2620;
    --gray-01: #544e47;
    --gray-02: #736b62;
    --gray-03: #9c9389;
    --gray-04: #d0c8bd;
    --gray-05: #f0eae4;
    --gray-06: #fcf9f5;
    --green: #8a9f6e;
    --white: #fffdfa;
    --color: #b35a43;
    --color-hover: #d46e52;

    --font-main: 'Golos Text';

    --container-width: 1700px;
    --container-padding-x: 20px;
}
